<%= form_for(profile) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.text_field :last_name ,:required => :true ,:placeholder => "Last name" ,:autocomplete => :on %>
    <%= f.text_field :first_name ,:required => :true ,:placeholder => "First name" ,:autocomplete => :on %>
    <%= f.text_field :nickname ,:required => :true ,:placeholder => "Nick name" ,:autocomplete => :on %>
    <%= f.select :gender ,Profile::GENDER %>
    <%= f.date_field :birthdate ,:required => true %>
    <%= f.text_field :mobile_phone ,:required => :true ,:placeholder => "mobile_phone" ,:autocomplete => :on %>
    <%= f.text_field :phone ,:required => :true ,:placeholder => "tel" ,:autocomplete => :on %>
    <%= f.select :city ,Profile::CITY %>
    <%= f.select :district ,Profile::DISTRICT %>
    <%= f.text_field :address ,:required => :true ,:placeholder => "address" ,:autocomplete => :on %>
    <%= f.file_field :image%>


    <%= f.submit %>
  </div>
<% end %>
