
<div class="img-rounded" id="profile-show">
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="nanny-img col-dm-2 col-sm-2 col-xs-6">
						<%if current_user.registered_and_photo? %>
							<%= image_tag @nanny.image.thumb ,:class => "img-circle" %>
						<%else%>
							<%=image_tag("icon_mainpage_profile.png", size: "100x100",:class => "img-circle") %>
						<%end%>

					</div>
					<div class="col-dm-5 col-sm-5 col-xs-6">
						<div class="last-name">
							<h2><%= @nanny.last_name %> 保母</h2>
						</div>
						<div class="rate-start">
							<%= render "shared/rate_star" %>
						</div>
					</div>
					<div class="col-dm-5 col-sm-5 col-xs-6">
						<% if current_user.profile.type == "Parent" && @nanny.info %>
							<%= link_to "預約",nanny_cases_path(@nanny),:method => :post,:class => "btn btn-nanny pull-right"%>
							<%= link_to "聊聊",nanny_cases_path(@nanny),:method => :post,:class => "btn btn-baby-nanny pull-right"%>
						<%end %>

					</div>
			</div>

			<%if @nanny.info%>
				<div class="panel-body text-center">
					<div class="row">
						<div class="col-sm-3 col-xs-6">
							<div class="info-box">
								<h3><%=@nanny.ratings.count%></h3>
	          			<p class="text-muted">這麼多爸媽都評價了<%= @nanny.last_name %>保母。</p>
	       			</div>
						</div>
						<div class="col-sm-3 col-xs-6">
							<div class="info-box">
								<h3><%=@nanny.info.age_0_to_1_cases_done%></h3>
	          			<p class="text-muted">完成一歲以下的寶寶托育案件次數</p>
	       			</div>
						</div>
						<div class="col-sm-3 col-xs-6">
							<div class="info-box">
								<h3><%=@nanny.info.age_1_to_5_cases_done%></h3>
	          			<p class="text-muted">完成一歲到五歲的寶寶托育案件次數</p>
	       			</div>
						</div>
						<div class="col-sm-3 col-xs-6">
							<div class="info-box">
								<h3><%= distance_of_time_in_words_to_now(@nanny.info.since)%></h3>
	          			<p class="text-muted">托育經驗</p>
	       			</div>
						</div>

					</div>
				</div>
				<div class="panel-footer">
					<table class="table table-hover ">
						<tr>
							<td class="icon">
								<%= image_tag("icon_details_03.png") %>
							</td>
							<td>
								<div class="info-box">
								<h5>關於我</h5>
	          			<p class="text-muted"><%=@nanny.info.introduction%></p>
	       				</div>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td class="icon">
								<%= image_tag("icon_nanny_resume_04.png") %>
							</td>
							<td>
								<div class="info-box">
								<h5>專業資格</h5>
	          			<p class="text-muted"><%=@nanny.info.qualification%></p>
	       				</div>
							</td>
							<td>

							</td>
						</tr>
						<tr>
							<td class="icon">
								<%= image_tag("icon_nanny_resume_01.png") %>
							</td>
							<td>
								<h5>拖育人員登記號碼</h5>
							</td>
							<td>
								<p class="text-muted"><%=@nanny.info.license_number%></p>
							</td>
						</tr>
						<tr>
							<td class="icon">
								<%= image_tag("icon_nanny_resume_02.png") %>
							</td>
							<td>
								<h5>平日每小時收費</h5>
							</td>
							<td>
								<p class="text-muted">$ <%=@nanny.info.weekday_charge%> /hr</p>
							</td>
						</tr>
						<tr>
							<td class="icon">
								<%= image_tag("icon_nanny_resume_02.png") %>
							</td>
							<td>
								<h5>六日及國定假日每小時收費</h5>
							</td>
							<td>
								<p class="text-muted">$ <%=@nanny.info.holiday_charge%> /hr</p>
							</td>
						</tr>
						<tr>
							<td class="icon">
								<%= image_tag("icon_nanny_resume_03.png") %>
							</td>
							<td>
								<h5>每趟最低時限</h5>
							</td>
							<td>
								<p class="text-muted"> <%=@nanny.info.min_hour%> hr</p>
							</td>
						</tr>
						<tr>
							<td class="icon">
								<%= image_tag("icon_nanny_resume_03.png") %>
							</td>
							<td>
								<h5>特殊時段備註</h5>
							</td>
							<td>
								<p class="text-muted"> <%=@nanny.info.def_special%></p>
							</td>
						</tr>
						<tr>
							<td class="icon">
								<%= image_tag("icon_nanny_resume_02.png") %>
							</td>
							<td>
								<h5>特殊時段每小時收費</h5>
							</td>
							<td>
								<p class="text-muted">$ <%=@nanny.info.special_charge %> /hr</p>
							</td>
						</tr>
						<tr>
							<td class="icon">
								<%= image_tag("icon_nanny_resume_05.png") %>
							</td>
							<td>
								<h5>爸媽評價</h5>
							</td>
							<td>
								<p class="text-muted"></p>
							</td>
						</tr>
					</table>
				</div>
			<%else%>
				<%= link_to "建立保母資料",edit_info_path(@nanny),:class => "btn btn-primary"%>
			<%end %>


		</div>
	</div>
</div>

<%if current_user == @nanny.user%>

	<div class="container">

	  <div class="btn-group">
	  	<%= link_to "編輯個人資料",edit_nanny_path(@nanny),:class => "btn btn-nanny"%>
	  	<%= link_to "編輯收費資料",edit_info_path(@nanny),:class => "btn btn-baby-nanny"%>
	  </div>
	  <div id="schedule">
			<div id="bulid-schedule">
				<%= render "shared/build_schedule", {:build_schedule => @schedule ,:nanny => @nanny } %>
			</div>

			<div id="show-schedule">
				<%= render "shared/schedule", :nanny => @nanny %>
			</div>

		</div>
	</div>


<%end%>

