<p id="notice"><%= notice %></p>



<h2>Profile</h2>
<% if @nanny.info %>
	<%= link_to "私訊",nanny_cases_path(@nanny),:method => :post,:class => "btn-lg btn-danger pull-right"%>
	<%else%>
	資料煤田完不能預約
<%end %>
<br>
<%= @nanny.last_name %>
<%= @nanny.first_name %>

<%if @nanny["image"]%>
	<%= image_tag @nanny.image.url ,:class => "img-thumbnail" %>
<%end%>

	<%= link_to "EDIT",edit_nanny_path(@nanny),:class => "btn btn-primary"%>

<h2>Info</h2>


	<%= link_to "EDIT",edit_info_path(@nanny),:class => "btn btn-primary"%>

<%if @nanny.info%>
	<%= @nanny.info.weekday_charge %>
	<%= @nanny.info.holiday_charge %>
<%end%>

<div id="schedule">
	<div id="bulid-schedule">
		<%= render "shared/build_schedule", {:build_schedule => @schedule ,:nanny => @nanny } %>
	</div>
	<div id="show-schedule">
		<%= render "shared/schedule", :nanny => @nanny %>
	</div>
</div>


<%= link_to 'Edit', edit_nanny_path(@nanny) %> |
<%= link_to 'Back', nannies_path %>

