<h1>case</h1>


<div class="case_form">
	<%= render :partial => "shared/case_form",:locals => { cases: @cases} %>
</div>

<div class="case-status">
	<%= render :partial => "shared/case_status",:locals => { cases: @cases} %>
</div>

<div class="case-comment">

	<%= render :partial => "shared/comments",:locals => { comments: @comments} %>


	<%=simple_form_for @comment,:url => case_comments_path(@cases) do |c|%>
		<%= c.input :comment %>
		<%= c.button :submit ,:class => "btn-primary pull-right" %>
	<%end%>

</div>