<div class="container">
	<div class="case_form">
		<%= render :partial => "shared/case_formshow",:locals => { cases: @cases} %>
	</div>
</div>

<div id="case-status">
	<div class="case-status">
		<%= render :partial => "shared/case_status",:locals => { cases: @cases} %>
	</div>
</div>


<div id="case-chat">

			<div class="row" id="create-comment">
				<div class="col-xs-3 col-sm-2 pull-right">
					<%= image_tag current_user.profile.image.thumb,:class => "img-circle" %>
				</div>
				<div class="col-xs-9 col-sm-10 pull-right">
					<div class="form-group">
						<%=form_for @new_comment,:url => case_comments_path(@cases),remote: true do |c|%>

						  <%= c.text_field :comment, required: true,:placeholder => "請輸入訊息" ,:class => "form-control" %>
						  <%= c.submit "送出",:class => "btn btn-info pull-right" %>
						<%end%>
					</div>
				</div>
			</div>
			<hr>
			<div id="comments">
			<%= render :partial => "shared/comments",:locals => { comments: @comments} %>
			</div>

</div>

</div>


<script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCIXQWpyybQ1NqOfPX9sXRD2ONNBJNLD8U",
    authDomain: "webtest-3f8a4.firebaseapp.com",
    databaseURL: "https://webtest-3f8a4.firebaseio.com",
    storageBucket: "",
  };
  firebase.initializeApp(config);
</script>