
  <div class="col-md-12">
      <div class="media">
        <div class="media-left col-md-3 col-sm-12">
            <%= image_tag nanny.image.medium ,size: "115x115",:class=>"img-circle"%>
        </div>

        <div class="media-body">
            <table class="table col-md-6 col-sm-12">
                <tr>
                  <th><h2><%= nanny.last_name %> 保母</h2></th>
                  <th>
                    <div class="rate-start pull-left">
                      <%if [20,24].include?(nanny.id) %>
                        <%=image_tag("icon_mainpage_star01.png")%>
                      <%elsif [19].include?(nanny.id) %>
                        <%=image_tag("icon_mainpage_star02.png")%>
                      <%else%>
                        <%=image_tag("icon_mainpage_star03.png")%>
                      <%end %>
                    </div>
                    <div class="rating-times pull-left">
                      (<%= nanny.info.age_0_to_1_cases_done ? nanny.info.age_0_to_1_cases_done : 0%>)
                    <div>
                  </th>

                </tr>
                <tr>
                  <%if @start_date.to_date.sunday?|| @start_date.to_date.saturday?%>
                    <td>假日每小時收費</td>
                    <td>$ <%=nanny.info.holiday_charge%>/hr</td>

                  <%else%>
                    <td>平日每小時收費</td>
                    <td>$ <%=nanny.info.weekday_charge%>/hr</td>

                  <%end%>
                </tr>
                <tr>
                  <td>每趟最低時數</td>
                  <td><%= nanny.info.min_hour %> 小時</td>

                </tr>
                <tr>
                  <td>拖育經驗</td>
                  <td><%= time_of_experience(nanny.info.since)%></td>

                </tr>
                <tr>
                  <td>爸媽評價</td>
                  <td><%= nanny.info.age_0_to_1_cases_done ? nanny.info.age_0_to_1_cases_done : 0%> 個評價</td>

                </tr>

              </table>
          <div class="nanny-info col-md-3 col-sm-12">
            <%= link_to "查看",nanny_path(nanny) ,:class=>"btn btn-nanny"%>
          </div>
        </div>

      </div>

  </div>
<script>
$(function () {


  $(".rateYo_nanny").rateYo({
    rating: <%=5%>,
    readOnly: true
  });
});

</script>