
  <div id="super-top">

  </div>
  <div id="naver">
    <%= render "shared/navbar" %>
  </div>
 	<div id="flash">
    <%= render "shared/flash_message" %>
  </div>

<div id="header-search-nanny">
	<%= render "shared/header" %>
</div>

<div class="container">
	<div id="search-result">
		<% if @search_nanny %>
		  <%= render 'result', :search_nanny => @search_nanny %>
		<%end%>
	</div>

	<div id="user-booking">
		<% if current_user && current_user.registered? == nil%>
		  <%= link_to "保母註冊",new_user_nanny_path(current_user),:class => "btn btn-primary"%>
		  <%= link_to "爸媽註冊",new_user_parent_path(current_user),:class => "btn btn-primary"%>
		<% end %>
	</div>
</div>


