<%comments.each do |c|%>
	<%if nil %>
		<div class="row chat-right">
			<div class="col-xs-3 col-sm-2 pull-right">
				<%= image_tag c.user.profile.image.thumb,:class => "img-circle" %>
			</div>
			<div class="col-xs-9 col-sm-10 pull-right">
				<div class="text-box pull-right">
					<div class="box-heading">
						<div class="pull-right clearfix">
							<h4 class="text-right"><%=c.user.profile.last_name%></h4>
						</div>
						<div class="clearfix">
							<h4 class="text-left"><%=distance_of_time_in_words_to_now(c.created_at)%> ago</h4>
						</div>
					</div>
					<div class="box-body text-right">
						<%=c.comment%>
					</div>
				</div>
			</div>
		</div>
		<hr>
	<%end%>
		<div class="row chat-left">
			<div class="col-xs-3 col-sm-2 pull-left">
				<%= image_tag c.user.profile.image.thumb,:class => "img-circle" %>
			</div>
			<div class="col-xs-9 col-sm-10 pull-left">
				<div class="text-box pull-left">
					<div class="box-heading">
						<div class="pull-left clearfix">
							<h4 class="text-left"><%=c.user.profile.last_name%>  <%=c.user.profile.type == "Nanny" ? "保母" : "家長" %> </h4>
						</div>
						<div class="clearfix">
							<h4 class="text-right"><%=distance_of_time_in_words_to_now(c.created_at)%> ago</h4>
						</div>
					</div>
					<div class="box-body text-left">
						<%=c.comment%>
					</div>
				</div>
			</div>
		</div>

		<hr>

<%end%>
