	<div class="form-group">
		<%= form_tag root_path ,:method => :get do %>
			<div class="date">
				<%= text_field_tag :date, "#{}","id" => "datetimepicker" ,:required => :true,:placeholder => "日期" ,:autocomplete =>"off" %>
			</div>
			<div class="start_date">
				<%= text_field_tag :start_date,"#{}" ,"id" => "datetimepicker2",:required => :true ,:placeholder => "開始時間",:autocomplete =>"off" %>
			</div>
			<div class="greater-than">

			</div>
			<div class="end-date">
				<%= text_field_tag :end_date,"#{}" ,"id" => "datetimepicker3",:required => :true ,:placeholder => "結束時間",:autocomplete =>"off" %>
			</div>
			<div class="area">
				<%= select :district,:district,Profile::DISTRICT,:required => :true ,:placeholder => "請輸入區域",:autocomplete =>"off" %>
			</div>
			<div class="submit-search">
				<%= submit_tag "搜尋" ,:class => "btn btn-search" %>
			</div>
		<%end%>
	</div>



<script>
	// jQuery.datetimepicker.setLocale('zh-TW');
	// jQuery('#datetimepicker').datetimepicker({
	//  	datepicker:true,
	//  	defaultTime:'08:00',
	//  	step:30
	// });
	// jQuery('#datetimepicker2').datetimepicker({
	//  	datepicker:true,
	//  	defaultTime:'20:00',
	//  	step:30
	// });

	jQuery.datetimepicker.setLocale('zh-TW');
	jQuery('#datetimepicker').datetimepicker({
		timepicker:false,
		format:'Y-m-d',
		minDate:'0',
		step:30
	});

	jQuery('#datetimepicker2').datetimepicker({
		datepicker:false,
		format:'H:i',
		step:30
	});

	jQuery('#datetimepicker3').datetimepicker({

		datepicker:false,
		format:'H:i',
	 	step:30
	});

</script>