<%= form_for info do |f| %>

  <div class="actions" id="nanny-info">
    <%= f.label :平日每小時收費 %>
    <%= f.number_field :weekday_charge ,:required => :true ,:placeholder => "weekday_charge" ,in: 100..1500, step: 50,:class=> "form-control" %>
    <%= f.label :六日及國定假日每小時收費 %>
    <%= f.number_field :holiday_charge ,:required => :true ,:placeholder => "holiday_charge" ,in: 100..1500, step: 50 ,:class=> "form-control"%>
    <%= f.label :特殊時段每小時加收費 %>
    <%= f.number_field :special_charge ,:required => :true ,:placeholder => "special_charge",in: 100..1500, step: 50,:class=> "form-control" %>
    <%= f.label :每趟最低時限 %>
    <%= f.number_field :min_hour ,:required => :true ,:placeholder => "min_hour" ,in: 0.5..12, step: 0.5,:class=> "form-control"  %>
    <%= f.label :特殊時段備註 %>
    <%= f.text_area :def_special,:placeholder => "def_special",:class=> "form-control" %>
    <%= f.label :特殊托育經驗 %>
    <%= f.text_area :special,:placeholder => "special",:class=> "form-control" %>
    <%= f.label :關於我 %>
    <%= f.text_area :introduction ,:required => :true ,:placeholder => "introduction" ,:class=> "form-control"%>
    <%= f.label :最早何時開始托育服務%>
    <%= f.date_field :since ,:required => true ,:class=> "form-control"%>
    <%= f.label :接過一歲以下的寶寶案件數%>
    <%= f.text_field :age_0_to_1_cases_done, :required => true ,:class=> "form-control"%>
    <%= f.label :接過一歲到五歲的寶寶案件數%>
    <%= f.text_field :age_1_to_5_cases_done, :required => true ,:class=> "form-control"%>
    <%= f.label :Line_ID%>
    <%= f.text_field :lind_id ,:required => true ,:class=> "form-control"%>
    <%= f.label :專業資格%>
    <%= f.select :qualification ,Info::PROFESSIONAL ,:required => true ,:class=> "form-control"%>
    <%= f.label :托育人員登記號碼%>
    <%= f.text_field :license_number ,:required => true ,:class=> "form-control"%>

    <%= f.submit %>
  </div>
<% end %>
