<!DOCTYPE html>
<html>
  <head>
    <title>Bananny</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'dhtmlxscheduler', media: 'all', 'data-turbolinks-track' => true %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'dhtmlxscheduler', 'data-turbolinks-track' => true %>
    <%= action_cable_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.1.1/jquery.rateyo.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.1.1/jquery.rateyo.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

  <div id="shared-naver">
    <%= render "shared/navbar" %>
  </div>

    <%= yield %>

  <div id="footer">
    <%= render "shared/footer" %>
  </div>

  </body>
<%if current_user%>
<script>
$(function () {


  $("#rateYo<%=current_user.id%>").rateYo({
    rating: <%=5%>,
    readOnly: true
  });

   $(".rateYo_nanny").rateYo({
    rating: <%=5%>,
    readOnly: true
  });
});

</script>
<%end%>
</html>
